/*  Colors:
Orange: #ff9428
Sky-Blue: #9bd9ff
Blue: #50bdff
Light-Grey: #dbdbdb
Grey: #aaaaaa
*/

/*	Organization Guide
border
shadow

background

display
flex
position

text styles(color, font-size, text-align, ect.)

margin
padding
width
z-index
*/

* {
	box-sizing:border-box;
	
	line-height:160%;	
	font-family:Arial, Sans-Serif;
	
	margin:0;
}

body {
	background-color:#dbdbdb;
}

#wrapper {
	margin:0 auto;
	
	max-width:960px;
}

/*Border Rules*/
main{border-top:1px solid black; border-bottom:1px solid black}

@media screen and (min-width:960px) {
	nav, main, footer {
		border-left:1px solid black;
		border-right:1px solid black;
	}	
	nav{
		border-top: 1px solid black;
		border-radius: 5px 5px 0 0;
	}
	footer{
		border-bottom: 1px solid black;
		border-radius: 0 0 5px 5px;
	}
}

/*/////////////
//  Header   //
/////////////*/
header{
	color:#ff9428;
	padding:10px;
}

@media screen and (min-width:960px) {
	header {
		font-size:1.3em;
		
		padding:30px 30px 10px;
	}
}


/*/////////////
//  Nav      //
/////////////*/
nav {
	background-color:#ff9428;
	
	padding:0;
}

nav ul {
	display:flex;
	flex-wrap:wrap;
	
	line-height:0;	/*Removes extra space from bottom of ul*/
	
	padding:0;
}

nav li {
	display:inline-block;
	flex:1 1 auto;
}

nav a {	
	display:block;
		
	font-size:1.1em;
	text-align:center;
	text-decoration:none;
	
	padding:5px 20px;
	width:auto;
}
nav a:link{color:white;}
nav a:visited{color:white;}
nav a:hover, .dropdown:hover{background-color:#50bdff; color:white;}


/*Dropdown Menu*/ 
nav .dropdown {
	display:inline-block;
}

nav .dropdown-content {
	background-color:white;
	box-shadow:0 3px 3px 0 rgba(0,0,0,0.2);
	
	display:none;	
	position:absolute;	
	
	min-width:100px;
	z-index:1;
}

nav .dropdown-content a{text-align:left;}
nav .dropdown-content a:link{color:black;}
nav .dropdown-content a:visited{color:black;}
nav .dropdown-content a:hover {background-color:#dbdbdb; color:black;}

nav .dropdown:hover .dropdown-content{
	display:block;	/*Show the dropdown while its hovered over*/
}


/*/////////////
//  Article  //
/////////////*/
main {
	background-color:white;
	
	padding:20px 25px;
}

main h2 {
	color:#ff9428;
}

main h4 a{
	color:black;	
	text-decoration:none;
}

main article{
	margin-bottom:25px;
	width:auto;
}

/*Flex Rules*/
main .flex-container{	
	background-color:white;
	
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
}

main .flex-child{
	border:1px solid black;
	
	display:inline-block;	
	flex:0 1 auto;
	
	padding:10px;
}

/*Game Rules*/
main #game{
	border:1px solid black;
	
	display:inline-block;
	
	padding:15px;
	margin:15px;	
	width:auto;
}


/*/////////////
//  Footer   //
/////////////*/
footer {
	background-color:#50bdff;
	
	color:black;
	font-size:.9em;
	
	padding:5px 20px 15px;
	margin-bottom:5px;
}